[Unit]
Description=miniccc Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/miniccc -serial /dev/virtio-ports/cc

[Install]
WantedBy=multi-user.target
