[Unit]
Description=sim Service
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart=bash /opt/DB/start_sim.sh

[Install]
WantedBy=multi-user.target

